@font-face {
    font-family: "Slate";
    src: url("./fonts/SlateForOnePlus-Regular.ttf") format("truetype");
}

html {
    scrollbar-width: none;
}

body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.elevation-1 {
    box-shadow: 0 0 10px black;
}

#header {
    width: 1320px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    border-radius: 0px 0px 25px 25px;
    display: flex;
}

#footer {
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
}

#brand {
    font-size: 1.6em;
    font-family: "Slate";
    text-transform: uppercase;
    transition: all .4s ease;
    align-self: center;
}

#brand a:link {
    text-decoration: none;
    color: black;
}

#brand a:visited {
    color: black;
}

#brand:hover {
    text-shadow: #e63f34 0 0 4px;
}

.button-header {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: gray;
}

.button-header a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-header a:active {
    color: #a91b1b;
}

.button-header a + a::before {
    content: "";
    padding-top: 25%;
    height: 50%;
    width: 1px;
    background: black;
    margin-right: 10px;
}

.button-header a:first-of-type {
    margin-left: auto;
}

.button-header a:not(:first-of-type) {
    margin-left: 10px;
}

.button-header a:not(:active) {
    transition: all .4s ease;
}

.button-header a:not(:active):hover {
    text-shadow: #e63f34 0 0 4px;
}

.button-header a p {
    margin-left: 4px;
    font-family: "Slate";
    text-transform: uppercase;
}

.link-footer {
    color: gray;
    display: flex;
    align-self: center;
}

.link-footer a {
    transition: all .4s ease;
}

.link-footer a:not(:first-of-type) {
    margin-left: 16px;
}

.link-footer a:hover {
    text-shadow: #e63f34 0 0 4px;
}

.button-footer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.button-footer a{
    height: 32px;
    width: 32px;
    border: 1px solid gray;
    display: flex;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    color: gray;
    transition: all .4s ease;
}

.button-footer a:not(:first-of-type) {
    margin-left: 16px;
}

.button-footer a:hover {
    box-shadow: #e63f34 0 0 4px;
    text-shadow: #e63f34 0 0 4px;
}